<h4>Eviction Notices</h4>

<h5>Query</h5>
<%= form_for @query, url: run_query_eviction_notices_path do |f| %>
  <%= f.text_area :query, value: @query.query %>
  <%= f.submit "Run query" %>
<% end %>

<%= render partial: 'eviction_notices', locals: { evictions: @evictions} %>
